body {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(180, 229, 229);
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

button {
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  background-color: rgb(28, 28, 107);

  &:hover {
    background-color: rgba(28, 28, 107, 0.853);
  }
}

#entrada {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  justify-content: center;
}

#aceptar {
  margin-top: 10px;
}

.inactive {
  display: none;
}

.active {
  display: inline-block;
}

.celda {
  height: 30px;
  text-align: center;
  border: 1px solid gray;
  align-content: center;
  cursor: pointer;
  background-color: aliceblue;
}

.fija {
  font-weight: 600;
  color: black;
}

[data-c="2"], [data-c="5"] {
  border-right: 3px solid black;
}

[data-r="2"], [data-r="5"] {
  border-bottom: 3px solid black;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  justify-content: center;
  margin-bottom: 20px;
  color:rgb(28, 28, 107);
}

#board.bloqueado .celda {
  pointer-events: none;
  opacity: 0.6;
}

#digits {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  justify-content: center;
  gap: 10px;
  border-radius: 5px;

  .celda {
    border-radius: 50px;
  }
}

#digits .celda:hover {
  color: beige;
  background-color: rgba(28, 28, 107, 0.853);
}

.celda.selected {
  color: beige;
  background-color: rgb(28, 28, 107);
}

#container-errors-timmer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.error-anim {
  background-color: rgba(255, 0, 0, 0.4);
  transition: background-color 0.3s;
}
